name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam format --check src test

  test-erlang:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp-version: ["27", "28"]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: "recursive"
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp-version }}
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test --target erlang
      - run: gleam test --target erlang -- --tag wycheproof
      - run: gleam format --check src test

  test-javascript:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: ["22", "24"]
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: "recursive"
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - uses: erlef/setup-beam@v1
        with:
          otp-version: "28"
          gleam-version: "1.14.0"
          rebar3-version: "3"
      - run: gleam deps download
      - run: gleam test --target javascript
      - run: gleam test --target javascript -- --tag wycheproof
